  
section {
    
    padding: 7rem 9% 2rem;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 9rem;
    background: var(--bg-color);
    width: 100%;
  }
  
  .skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }
  
  .skills-row .skill-box {
    flex: 1 1 calc(33.333% - 2rem); /* Three boxes per row with a gap */
    max-width: 30rem;
  }
  
  .skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--second-bg-color);  
      padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .skill-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--main-color);
  }
  
  .skill-info {
    display: flex;
    flex-direction: column;
  }
  
  .skill-name {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .skill-example {
    font-size: 1.4rem;
    color: var(--text-color);
  }
  
  .heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .skills .skills-row {
      flex-direction: column;
      gap: 2rem;
    }
  
    .skills-row .skill-box {
      flex: 1 1 100%;
      max-width: none;
    }
  
    .skill-box {
      padding: 1rem;
    }
  
    .skill-name {
      font-size: 1.4rem;
    }
  
    .skill-example {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 462px) {
    .skills-row {
      flex-direction: column;
      gap: 1rem;
      align-items: center; /* Centra las cajas horizontalmente */
    }
  
    .skill-box {
      padding: 1rem;
      width: 60%; /* Cada caja ocupa el 80% del ancho disponible */
      max-width: none; /* Sin límite de ancho máximo */
    }
  
    .skill-name {
      font-size: 1.4rem;
    }
  
    .skill-example {
      font-size: 1.2rem;
    }
  }