@import url('https://fonts.googleapis.com/css2?family=Propins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Propins', sans-serif;
}

:root {
  --bg-color: #1a0833;
  --second-bg-color: #291142;
  --text-color: #ededed;
  --main-color: #8a2be2;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Empieza con width 100% */
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
  opacity: 0;
  transition: opacity 1s ease;
}


.animate.show {
  opacity: 1;
}
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

.animate.scroll{
  transition: 1s ease;
  transition-delay:calc(.3s /var(--i)) ;
  animation: none;
}

.education .education-box .animate.scroll{
  width: 105%;
}
.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll{
  transition-delay: calc(.3s * var(--i));
  width: 0;
}

.section:nth-child(odd) .animate.scroll,
 .animate.scroll{
  background: var(--second-bg-color);
}

.section:nth-child(even) .animate.scroll {
  background: var(--second-bg-color); /* Morado claro para las secciones pares */
}

.education {
  background: var(--bg-color); /* Morado oscuro */
}

.education .animate.scroll {
  background: var(--bg-color); /* Asegúrate de que la animación dentro de Education también tiene el fondo morado oscuro */
  width: 105%;
}

.carousel-container {
  display: none;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 462px) {
  .carousel-container {
    display: block;
  }
}

@keyframes showRight {
  0% {
    width: 100%; /* Empieza con width 100% */
  }
  100% {
    width: 0; /* Termina con width 0 */
  }
}

